<div class="container" *ngIf="orderDetails">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Order Infos</div>
        <div class="card-body text-sm-start">
          <ul class="list-group">
            <div class="card-header">Order ID: {{orderId}}</div>
            <li class="list-group-item">Order Date: {{orderDetails.billingDate | date:"dd/MM/yyyy"}}</li>
            <li class="list-group-item">Customer ID: {{orderDetails.customer.id}}</li>
            <li class="list-group-item">Customer Name: {{orderDetails.customer.name}}</li>
            <li class="list-group-item">Customer Email: {{orderDetails.customer.email}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Product Items</div>
        <div class="card-body">
          <table class="table">
            <thead>
            <tr class="bg-dark text-white">
              <th>Product Id</th><th>Product Name</th><th>Quantity</th><th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of orderDetails.productItems">
              <td>{{i.id}}</td>
              <td>Product X{{i.productID}}</td>
              <td>{{i.quantity}}</td>
              <td>{{i.price | number : '.2'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
